{% extends "base.html" %}

{% block title %}
    Book Club - Reading Lists
{% endblock title %}

{% block content %}
<h1>{{ reading_list.name }} <span class="badge bg-info">{{ reading_list.topic }}</span></h1>

{% if user.is_authenticated and user.username == reading_list.creator_username %}
    <a href="/list/{{ reading_list.id }}/book-create/" class="btn btn-primary">
        + Add Book
    </a>
{% endif %}

{% for book in all_books %}
    <div class="d-flex mb-5 border rounded shadow">
        {% if book.cover_url %}
            <img class="align-self-start" src="{{ book.cover_url }}" alt="Book cover" />
        {% else %}
            <img class="align-self-start" src="https://i.imgur.com/dMlC0dn.png" alt="Book icon" />
        {% endif %}
        <div class="ms-3">
            <h5>{{ book.title }}</h5>
            <p>{{ book.description|escape|linebreaks }}</p>
        </div>

        {% if user.is_authenticated and user.username == reading_list.creator_username %}
            <div class="btn-group btn-group-sm">
                <a href="/list/{{ reading_list.id }}/book-update/{{ book.id }}/" class="btn btn-outline-primary"> ✏️  </a>
                <a href="/list/{{ reading_list.id }}/book-delete/{{ book.id }}/" class="btn btn-outline-danger"> 🗑️ </a>
            </div>
        {% endif %}
    </div>
{% endfor %}

{% endblock content %}

