<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Shiba Adoption</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <h1>ShibAdopt</h1>
    <p>Adopt a shiba!</p>

    <form action="" method="GET">
        <p>Enter the id_number of the Shiba you want to adopt:
        <input name="number" type="number" />
        </p>
        <button>Adopt and remove</button>
    </form>
</div>

</body>
</html>
