{% extends "base.html" %}

{% block title %}Faceboop Users{% endblock %}

{% block content %}

<h1>Faceboop is the worlds largest social-boopwork, with {{ users|length }} users total.</h1>

<div class="row">
    {% for user in users %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ user.first_name }} {{ user.last_name }}</h3>
                    <ul class="list-group">
                        <li class="list-group-item list"><strong>Username</strong> {{ user.username }}</li>
                        <li class="list-group-item list"><strong>Email</strong> {{ user.email }}</li>
                        <li class="list-group-item list"><strong>Joined</strong> {{ user.date_joined }}</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}

