<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Shiba Adoption</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <h1>ShibAdopt</h1>
    <p>Welcome to our site. This is a site for adopting shibas.</p>
    <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/add-a-shiba/">Add a Shiba</a></li>
        <li><a href="/adopt-a-shiba/">Adopt a Shiba</a></li>
    </ol>

    {% block content %}
    {% endblock content %}
</div>

</body>
</html>
