.Nav {
  background: rgba(255, 255, 255, 0.5);
  height: 80px;
  padding: 10px;
  color: black;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-bottom: 70px;
  grid-column: 1 / span 2;
}

.Nav-logo {
  height: 80px;
}
