.Nav {
  background: rgba(255, 255, 255, 0.5);
  height: 80px;
  padding: 10px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
  grid-column: 1 / span 2;
  font-size: 20pt;
}

.Nav-logo {
  height: 80px;
}

.Nav-starredCount {
  font-size: 16pt;
}

.Nav-starredCount img {
  max-height: 20px;
}
