body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
    max-width: 68em;
    width: 100%;
    margin: 2vh auto;
    opacity: 1;
    filter: none;
    background: rgba(255, 255, 255, 0.95);
    color: black;
    padding: 50px;
    text-align: center;
}
