.Card {
  font-family: sans-serif;
  margin-left: 15px;
  padding: 2px;
  display: grid;
  background: white;
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.3);
  grid-template-columns: 130px 1fr;
}

.Card-title {
  font-size: 20pt;
  font-weight: 200;
  grid-column: 1 / span 2;
}

.Card img {
  width: 130px;
}
