{% extends "base.html" %}

{% block title %}{{ city_name }} - Faceboop Cities{% endblock %}

{% block content %}
<h1>The Great City of "{{ city_name }}"</h1>




<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Coming soon</h4>
  <p>Pretty soon, there will be exclusive Faceboop-related content for every
  city here.  Including our absolute favorite city of <strong>{{ city_name}}</strong>...
  and no, we aren't just pandering {{ city_name}} is truly our favorite city!</p>
  <hr />
  <p class="mb-0">Check back later!</p>
</div>


{% endblock content %}
