body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://i.imgur.com/cjXhweb.jpg') fixed;
  background-size: cover;
  min-height: 100vh;
  font-family: sans-serif;
}

.App {
  display: grid;
  margin-left: 2vw;
  margin-right: 2vw;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 180px 1fr;
}
.App button {
}

.App-header > label {
  font-size: 1.2em;
}

.App-header > label > select,
.App-header > label > input {
  font-size: 1em;
  background-color: rgba(0, 127, 127, 0.8);
  border: 2px ridge white;
  color: white;
  padding: 10px;
  margin: 10px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / span 2;
  background-color: rgba(0, 0, 0, 0.5);
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.0em;
  font-family: sans-serif;
  font-weight: 200;
}

.App-body {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 20px;
}

.Animal {
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  text-align: center;
  margin-right: 10px;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 100px;
}

.Animal > p {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 100px;
}

.AnimalForm {
  /*background-color: rgba(255, 255, 255, 0.5);*/
  padding: 10px;
  display: block;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.App button {
  font-size: 16px;
  background-color: rgba(0, 127, 127, 0.8);
  border: 2px ridge white;
  color: white;
  padding: 2px;
  margin: 2px;
}


.AnimalForm input,
.AnimalForm textarea,
.AnimalForm button {
  font-size: 1.5em;
  background-color: rgba(0, 127, 127, 0.8);
  border: 2px ridge white;
  color: white;
  padding: 10px;
  margin: 10px;
}

.AnimalForm input::placeholder,
.AnimalForm textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-variant: italic;
}


.AnimalForm input:focus,
.AnimalForm textarea:focus,
.AnimalForm button:focus {
  box-shadow: 0 0 5px 5px rgba(0, 127, 127, 0.8);
}

.AnimalForm textarea,
.AnimalForm button {
  font-size: 1.3em;
}

.AnimalForm-animalSelector {
  display: flex;
  align-items: center;
}

.AnimalForm-animalSelector img {
  max-width: 100px;
}

.AnimalForm-animalSelector input {
  display: none;
}

.AnimalForm-animalSelector input + img  {
  box-shadow: 0 0 0px 0px rgba(0, 127, 127, 0.8);
  background-color: transparent;
  transition:
    box-shadow 0.5s,
    background-color 0.5s;
}

.AnimalForm-animalSelector input:checked + img  {
  box-shadow: 0 0 20px 2px rgba(0, 127, 127, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
}

.AnimalForm label input[type=checkbox] {
  display: inline-block;
  width: 60px;
  margin-top: -10px;
}
.AnimalForm label input[type=checkbox]:before {
  content: '☐';
  background: gray;
  padding: 10px;
  font-size: 30pt;
  font-weight: bold;
}
.AnimalForm label input[type=checkbox]:checked:before {
  content: '☑';
}



.EditModal,
.EditModal-backdrop,
.EditModal-contents {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.EditModal-backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.EditModal-contents {
  background: whiteSmoke;
  text-align: center;
  top: 10vh;
  left: 20vw;
  height: auto;
  width: 60vw;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 2.0em;
}

.EditModal-title {
  background: rgb(223, 117, 20);
  color: white;
  font-size: 1.0em;
  font-weight: bold;
  border-radius: 20px 20px 0 0;
  margin-bottom: 10px;
}

.EditModal-contents > input {
  margin-bottom: 10px;
}
