{% extends "base.html" %}

{% block content %}
<h3>Add doggo sitting appt</h3>

<!-- Challenge #6 -->
{% if error_message %}
    <p>ERROR: {{ error_message }}</p>
{% endif %}

<form action="." method="POST">
    {% csrf_token %}
    <input name="dogname" placeholder="The Dog's Name" />
    <input name="age" type="number" placeholder="Age" />
    <input name="time" placeholder="Appt Time" />
    <input name="date" placeholder="Appt Date" />
    <button>Submit</button>
</form>

<h2><a href="/">Back to the homepage</a></h2>
{% endblock content %}
