.Button {
  display: inline-block;
  background: tomato;
  color: whiteSmoke;
  border: 2px solid #aa8888;
  padding: 10px;
  font-size: 16pt;
  user-select: none;
  cursor: default;
}

.Button:hover {
  box-shadow: 0 0 10px 0px tomato;
}

.Button:active {
  border: 2px solid white;
  color: white;
}
