.CharacterCardGroup {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0 0 2em -2em;
}

@media screen and (max-width: 1280px) {
  .CharacterCardGroup {
    margin: 0 0 2em -1.5em;
  }
}

@media screen and (max-width: 480px) {
  .CharacterCardGroup {
    display: block;
  }
}
