/* To do this activity, only change me! */

:root {
    --highlight-color: #FF6347;
    --highlight-color-alt: #DD6047;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    background: whiteSmoke;
}

p {
    font-size: 13.5pt;
}

h1 {
    color: var(--highlight-color);
    font-size: 32pt;
    font-weight: 200;
    padding-top: 30px;
}

h2 {
    color: var(--highlight-color);
    font-size: 24pt;
}

.MainArticle-lead {
    color: var(--highlight-color-alt);
    line-height: 1;
}

li:nth-of-type(odd) {
    background-color: gray;
}

ul li:first-child {
    list-style-type: none;
    font-size: larger;
}

p:first-line {
    font-variant: small-caps;
}

p:first-letter {
    font-size: xx-large;
}

.MainContent--margin {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background: white;
    box-shadow: 0 0 4px gray;
    min-height: 90vh;
}

/* ******************* */

/* Add stuff below here! */

