.Calc-label {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.Calc-value {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/*
.Calc {
  background: gray;
  border-radius: 5px;
  color: black;
  color: white;
  padding: 5px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2em 1fr;
  box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.1);
}

.Calc input {
  background: transparent;
  color: white;
  border: none;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
}

.Calc-type {
  font-variant: bold;
  color: rgba(255, 255, 255, 0.8);
}
*/
