{% extends "base.html" %}

{% block title %}Faceboop Chat{% endblock %}

{% block content %}
<h2>Welcome to Faceboop Chat</h2>
<br />

<div class="container">
    <!-- some example HTML to work with! Take it or leave it.-->
    {% for post in posts %}
    <div class="message-faceboop-friend center-block">
        <div class="row message-text">
            {{post.text}}
        </div>
        <div class="row">
            <div class="col-xs-8 col-md-6">
                <h4 class="message-name">{{post.username}}</h4>
            </div>
            <div class="col-xs-4 col-md-6 text-end message-date">
                message like_count Like(s) -
                Delete -
                Update
            </div>
        </div>
    </div>
    {% endfor %}


    <div class="message-faceboop-user center-block">
        <div class="row">
            <div class="col-xs-8 col-md-6">
                <h4 class="message-name">name2</h4>
            </div>
        </div>
        <div class="row message-text ">
            TEXT GOES HERE
        </div>
    </div>


    <form action="." method="POST">
        {% csrf_token %}
        <div class="messaging center-block row">
            {{ form }}
            <input type="submit" , value="Post">
        </div>
    </form>

</div>

{% endblock content %}