.Background {
    background-image: url(../img/bob_ross_on_acid.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    filter:  brightness(1.5) invert();
    mix-blend-mode: multiply;
    animation-duration: 3s;
    animation-name: throb;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}


@keyframes throb {
    from { opacity: 0;  }
    50%  { opacity: 1.0; }
    to   { opacity: 0;   }
}

.Sidebar a {
    z-index: 10;
    position: relative;
}
