{% extends "base.html" %}

{% block title %}Faceboop Feed{% endblock %}
{% block nav_feed_class %}active{% endblock %}

{% block content %}

<h2>Your friends are up to cool stuff!</h2>
<h5>Probably cooler things than you 🤔</h5>
<br />
<br />

{# This "include" thing lets you insert another bit of HTML / templating from another page #}
{% include "post_loop_snippet.html" %}

<hr />


<h2>Share a post</h2>
<form class="" action="." method="POST">
    <div class="card-body">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success btn-lg">Share!</button>
    </div>
</form>

{% endblock content %}
