{% extends "base.html" %}

{% block title %}
    Book Club - Reading Lists
{% endblock title %}

{% block content %}
<h1>All Reading Lists</h1>

<a href="/reading-list/list-create/" class="btn btn-primary mb-5">
    + Add Reading List
</a>

{% for rl in all_reading_lists %}
    <div class="d-flex justify-content-between mb-5 border rounded shadow">
        <div class="ms-3">
            <h5>{{ rl.name }} <span class="badge bg-info">{{ rl.topic }}</span></h5>
        </div>
        <div class="btn-group btn-group-sm">
            <a href="/reading-list/list-update/{{ rl.id }}/" class="btn btn-outline-primary"> ✏️  </a>
            <a href="/reading-list/list-delete/{{ rl.id }}/" class="btn btn-outline-danger"> 🗑️ </a>
        </div>
    </div>
{% endfor %}

{% endblock content %}

