body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url('https://i.imgur.com/Zcje94e.jpg') fixed;
  background-size: cover;
  min-height: 100vh;
}
.TeamManager {
  margin-left: 20vw;
  margin-right: 20vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.TeamManager-position {
  min-height: 140px;
  padding: 10px;
  color: white;
}

.TeamManager-position h2 {
  font-size: 2.0em;
  font-weight: normal;
  font-family: serif;
  font-variant: small-caps;
}
