/* Challenge 1 */

.AnimalPen {
    background: transparent;
    transition: background 4s;
}

.AnimalPen:hover {
  background: brown;
}




/* Challenge 2 */
/* HINT: Selectors are written for you below. */
.River {
  padding: 20px;
  transition: padding 3s;
}

.River--part1:hover {
  padding: 0px;
}

.River--part2:hover {
  padding: 0px;
}

.River--part3:hover {
  padding: 0px;
}




/* Challenge 3 */

.Rabbit:hover {
    /* Add code here! */
    animation: Hop .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
}

@keyframes Hop {
  from { transform: translate3d(0, 0, 0);    }
  to   { transform: translate3d(10px, 60px, 0); }
}

/* Challenge 4 & 5 */
.Bear {
  animation: Saunter 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  /* animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5); */
}

@keyframes Saunter {
  from { transform: translate3d(0, 0, 0); }
  50% { transform: translate3d(-50vw, 50px, 0); }
  to { transform: translate3d(-90vw, 100px, 0); }
}

.Goat {
  z-index: 1;
}

.Goat:hover {
  animation: Whee 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.Pig:hover {
  animation: Whee 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.Horse:hover {
  animation: Whee 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes Whee {
  from {transform: translate3d(0, 0, 0)}
  40% {transform: translate3d(10px, -40px, 0)}
  60% {transform: rotateY(0deg)}
  to {transform: rotateY(180deg)}
}