/* Challenge 4 can go here */

.Article {
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: 1fr 2fr;
    column-gap: 10px;
    align-items: center;
}

.Article-image {
    grid-row: span 2;
    width: 100px;
    height: 100px;
}
.Article-title {
    grid-column: 2;
}
.Article-summary {
    grid-column: 2;
    grid-row: 2;
    align-self: start;
}











/************ Solution to Part 1 below ****************/

/*
    We set up a grid like this:

    | <--> | 200px |       600px     | <--> | ^
    |      |       |                 |      | 100px
    | ---- | ----- | --------------- | ---- | v
    |      |       |                 |      | ^
    |      |       |                 |      | auto
    |      |       |                 |      | v
*/

/* Challenge 2 */
.Container {
    display: grid;
    grid-template-columns: 1fr 200px 600px 1fr;
    grid-template-rows: 100px auto;

    /* Space out all the rows and columns by 20px */
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

/* Challenge 3 */
.Navigation {
    grid-column: 3 / span 2;
}

.Sidebar {
    grid-column: 2;
}

.MainContent {
    grid-column: 3;
}

