body {
  background: url('https://i.imgur.com/hBfUGwF.jpg') fixed;
  background-size: cover;
  min-height: 100vh;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5px 5px rgba(127, 127, 255, 0.3);
  border: 2px white ridge;
  height: 10vh;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20vw;
  margin-right: 20vw;
  font-size: 3vh;
  box-sizing: border-box;
}

.App-library {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px white ridge;
  margin-left: 20vw;
  margin-right: 20vw;
  min-height: 90vh;
  box-sizing: border-box;
}
